<div class="container mx-auto flex flex-col gap-2">
  <div class="p-5 flex bg-blue-700 text-xs md:text-base items-center">
    <div class="text-5xl font-bold text-white">B</div>
    <div class="flex-1 flex justify-end">
      <ng-container
        *ngIf="(auth.isAuthenticated$ | async) === false; else logOut"
      >
        <button class="btn_success" (click)="login()">LOGIN</button>
      </ng-container>
      <ng-template #logOut>
        <div class="flex gap-2 items-center">
          <ng-container *ngIf="auth.user$ | async as user; else loadUser">
            <div
              class="w-10 h-10 rounded-full bg-center bg-cover"
              [style]="{ 'background-image': 'url(' + user.picture + ')' }"
            ></div>
            <div class="text-white font-bold">
              {{ user.name }}
            </div>
          </ng-container>
          <ng-template #loadUser>
            <p-skeleton shape="circle" size="40px"></p-skeleton>
            <p-skeleton width="200px" height="2rem"></p-skeleton>
          </ng-template>

          <button class="btn_cancel" (click)="loout()">LOGOUT</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div
    *ngIf="auth.isAuthenticated$ | async; else loadProduct"
    class="
      grid grid-cols-2
      sm:grid-cols-3
      lg:grid-cols-4
      xl:grid-cols-5
      card
      gap-4
    "
  >
    <div *ngFor="let item of data" class="w-full card_product h-96">
      <div class="bg-white rounded-t-md p-2 h-2/4">
        <div class="bg-center bg-contain bg-no-repeat w-full h-full" [style]="{ 'background-image': 'url(' + item + ')' }"></div>
      </div>
      <div class="w-full h-2/4 bg-black rounded-b-md text-white font-semibold p-2 flex justify-center items-center">
        ||||||||||||||||||||||||||||
      </div>
    </div>
   
  </div>
  <ng-template #loadProduct>
    <div
      class="
        grid grid-cols-2
        sm:grid-cols-3
        lg:grid-cols-4
        xl:grid-cols-5
        card
        gap-4
      "
    >
      <p-skeleton *ngFor="let item of data" width="286.39px" height="384px"></p-skeleton>
    </div>
  </ng-template>
</div>
